//Estilos para cart widget
.containerCarrito {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;


    .sizeCart {
        font-size: 26px;
        color: white;
    }

    .colorNumber {

        color: white;
        font-weight: bolder;

    }



}