.botonSumar{

    width: 30px;
    margin: 0 5px;
    font-weight: bolder;

}

.botonRestar{

    width: 30px;
    font-weight: bolder;

}

.botonAgregar{

    font-weight: bolder;

}

.letraProductos{

    font-weight: bolder;

}