//Estilos para el carrito
.containerCarrito {

  width: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;


  .sizeCart {
    font-size: 25px;
    color: white;
  }

  .colorNumber {

    color: white;
    font-weight: bolder;

  }



}

.carritoTitulo {

  font-weight: bolder;

}


//Carrito compra productos

.containerFlex {

  margin-top: 5rem;
  display: flex;
  justify-content: center;

  .containerCompras {

    background-color: white;
    width: 51rem;
    padding: 10px;

    .flexUbicar {

      display: flex;
      align-items: center;
      justify-content: space-between;

      .tituloCompra {

        font-weight: bolder;

      }

      .productosCarrito {

        height: 100px;

      }

      .precioTitulo {

        font-weight: bolder;

      }

      .stockTitulo {

        font-weight: bolder;

      }

      .tituloCategoria {

        font-weight: bolder;

      }

    }

  }

}
