//Estilos para el carrito
.containerCarrito {
    
    width: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  .sizeCart {
    font-size: 25px;
    color: white;
  }

  .colorNumber {

    color: white;
    font-weight: bolder;
    
    

  }

}