.navEstilo,li, a{

    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    
    


}


a{
    margin-top: 25px;
    font-weight: bolder;
    color:black;
    padding: 25px;
    margin-bottom: -20px;
    margin-top: -5px;

}




