.navEstilo,li, a{

    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    color: white;
    font-weight: bolder;
    position: relative;
    margin-top: 5px;
    
    
}



a:hover{

    color:white;

}











