//Animaciones para los enlaces de la navbar
.link {

    position: relative;

    &::after {

        content: '';
        position: absolute;
        right: 8px;
        top: 31px;
        bottom: 0;
        width: 80%;
        height: 2px;
        background-color: white;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .5s;

    }

    &:hover::after {

        transform: scaleX(1);
        transform-origin: left;

    }
}

